.<style rel="stylesheet">
  .p { margin-left: 30mm; }
</style>
<div class="p">
    <form>
        <label for=""> nome </label>
        <br><input type="text" ng-model="colaborador.nomecompleto">
        <br><label for=""> email </label>
        <br><input type="text" ng-model="colaborador.email">
        <br><label for="">nascimento</label>
        <br><input type="date" ng-model="colaborador.nascimento">
        <br><label for="">admissao</label>
        <br><input type="date" ng-model="colaborador.admissao">
        <br><label for="">Sede</label>
        <br><input type="text" ng-model="colaborador.sede">
        <br><label for="">situacao</label>
        <br><input type="text" ng-model="colaborador.situacao">
        <br><label for="">senha</label>
        <br><input type="text" ng-model="colaborador.senha">
        <br><label for="">permissao</label>
        <br><input type="number" ng-model="colaborador.idPermissao">
        <br><input type="submit" value="salvar" ng-click="cadastrar(colaborador)">
        <hr>
        <br><label for="">buscar</label>
        <br><input type="text" ng-model="nome">
        <br><input type="submit" value="salvar" ng-click="buscar(nome)">

    </form>

    {{colaborador}}

</div>