<div class="header">
        <div class="titulo" ng-click="irParaHome()">
            <p>Gênesis</p>
        </div>
    </div>
<div class="contain">
        <div class="conteudo">
        <div class="form">
            <form class="form-group" novalidate name="formFeito">
                <label for="nome">Nome do feito</label>
                <input type="text" name="nome" value="" ng-model="feito.nome" required class="form-control">
                <label for="descricao">Descrição</label>
                <textarea rows="2" cols="10" class="form-control" required ng-model="feito.descricao"></textarea>
                <label for="descricaoResumida">Descrição Resumida</label>
                <input type="text" name="descricaoResumida" value="" ng-model="feito.descricaoresumida" class="form-control" max="100">
                <label for="perfilPermitido">Visível para permissão:</label>
                <select ng-model="feito.idPermissao" name="perfilPermitido" required class="form-control">
                <option ng-value="" disabled>Selecione o perfil</option>
                <option ng-value="1">Administrador</option>
                <option ng-value="2">Colaborador</option>
                <option ng-value="3">Master</option>
                <option ng-value="7">Publico</option>
            </select>
                <label for="relevancia">Relevância</label>
                <input type="number" name="relevancia" value="" required ng-model="feito.relevancia" class="form-control" min="0" max="5">
                <label for="imagem">Url imagem</label>
                <input type="text" name="imagem" value="" required ng-model="feito.imagem" class="form-control">
                <button type="button" class="btn btn-add" ng-click="criarFeito(feito)" ng-disabled="formFeito.$invalid"><i class="fa fa-floppy-o fa-lg" aria-hidden="true"></i> Salvar</button>
            </form>
        </div>
    </div>
</div>