<div class="contain">
        <div class="conteudo">
        <div class="form">
            <form class="form-group" novalidate name="formFeito">
                <label for="nome">Nome do feito</label>
                <input type="text" name="nome" value="" ng-model="feito.nome" required class="form-control">
                <label for="descricao">Descrição</label>
                <textarea rows="2" cols="10" class="form-control" ng-model="feito.descricao" required></textarea>
                <label for="descricaoResumida">Descrição Resumida</label>
                <input type="text" name="descricaoResumida" value="" ng-model="feito.descricaoresumida" class="form-control" max="100">
                <label for="perfilPermitido">Perfil que pode vizualizar</label>
                <select ng-model="feito.idPermissao.id" name="perfilPermitido" class="form-control" required>
                    <option ng-value="" disabled>Selecione o perfil</option>
                    <option ng-value="1">Admin</option>
                    <option ng-value="2">Colab</option>
                    <option ng-value="3">Master</option>
                </select>
                <label for="relevancia">Relevância</label>
                <input type="number" name="relevancia" value="" ng-model="feito.relevancia" required class="form-control" min="0" max="5">
                <label for="imagem">Url imagem</label>
                <input type="text" name="imagem" value="" ng-model="feito.imagem" class="form-control">
                <button type="button" class="btn btn-add" ng-click="atualizarFeito(feito)" ng-disabled="formFeito.$invalid"><i class="fa fa-plus" aria-hidden="true"></i> Feito</button>
            </form>
        </div>
    </div>
</div>