<div class="header">
    <div class="titulo" ng-click="irParaHome()">
        <p>Gênesis</p>
    </div>
   <form class="form-inline inline-form">
  <div class="form-group">
    <select class="form-control" ng-model="pesquisa.tipo">
        <option value="colaborador" selected>Colaborador</option>
        <option value="time">Times</option>
        <option value="tag">Tag</option>
    </select>
  </div>
  <div class="form-group">
    <input type="text" class="form-control" id="exampleInputPassword3" placeholder="Nome" ng-model="pesquisa.termo">
  </div>
  <button type="submit" class="btn btn-default" ng-click="pesquisar(pesquisa)">Procurar</button>
</form>
</div>
<div class="home">
    <nav class="menu">
        <ul class="menu-items">
            <li class="menu-item" ng-click="login()" ng-if="!usuarioAutenticado">
                <p class="menu-link"> Login </p>
            </li>
            <li class="menu-item" ng-click="solicitarAcesso()" ng-if="!usuarioAutenticado">
                <p class="menu-link"> Solicitar Acesso </p>
            </li>
             <li class="menu-item" ng-click="verPerfil()" ng-if="usuarioAutenticado">
                <p class="menu-link"> Ver Perfil </p>
            </li>
             <li class="menu-item" ng-click="editar()" ng-if="usuarioAutenticado">
                <p class="menu-link"> Editar Perfil</p>
            </li>
            <li class="menu-item" ng-click="irParaPaginaAdmin()" ng-if="permissaoAdministrador">
                <p class="menu-link"> Administração </p>
            </li>
            <li class="menu-item" ng-click="irParaPaginaTime()" ng-if="usuarioAutenticado && ehOwner">
                <p class="menu-link"> Gerenciar Times 
                    <div class="notificacao pull-right" ng-if="temSolicitacao">{{solicitacao}}</div>
                </p>
            </li>
             <li class="menu-item" ng-click="logout()" ng-if="usuarioAutenticado">
                <p class="menu-link">Logout</p>
            </li>
        </ul>
    </nav>
    <div class="board">
        <section class="timeline home">
            <ul>
                <li ng-repeat="feito in feitos |orderBy:'-datafeito'">
                    <div>
                        <img ng-src="{{feito.idColaborador.foto}}" alt="" height="40px">
                        <p class="titulo"> <strong>{{feito.idColaborador.nomecompleto}}</strong></p>
                        <p class="descricao">{{feito.idFeito.nome}}</p>
                        <p class="data"> {{feito.datafeito | date:'dd/MM/yyyy'}} </p>
                    </div>
                </li>
            </ul>
        </section>
    </div>
</div>