<div class="home">
<div class="header">
        <div class="titulo" ng-click="irParaHome()">
            <p>Gênesis</p>
        </div>
        <div class="dropdown">
            <div class="btn-group" uib-dropdown is-open="status.isopen">
                <button id="single-button" type="button" class="btn btn-dropdown" uib-dropdown-toggle ng-disabled="disabled">
        <i class="fa fa-user" aria-hidden="true"></i> {{user.nome}} <span class="caret"></span>
      </button>
                <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="single-button">
                    <li role="menuitem"><a href="#!/home">Home</a></li>
                    <li role="menuitem"><a href="#!/perfil">Pefil</a></li>
                    <li role="menuitem"><a href="#!/admin">Administração</a></li>
                    <li class="divider"></li>
                    <li role="menuitem"><a href="#">Logout</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="board">
        <section class="timeline">
        <ul>
            <li ng-repeat="feito in feitos |orderBy:'-datafeito'">
               <div >
                    <p class="titulo"> <strong>{{feito.idColaborador.nomecompleto}}</strong></p> 
                    <p class="descricao">{{feito.idFeito.nome}}</p>
                    <p class="data"> {{feito.datafeito | date:'dd/MM/yyyy'}} </p>
                </div>
            </li>
        </ul>
    </section>

    </div>
</div>



