<div class="container">
     <div class="conteudo">
         <h2>Quase lá....</h2>
         <div class="box">
             <form novalidate name="formLogin">
                 <div class="box-label"><label>Digite uma senha</label></div>
                 <div class="input-group">
                     <input class="form-control" name="senha" placeholder="Senha" type={{tipo}} ng-model="usuario.senha">
                     <span class="input-group-addon"><i ng-click="mostrarSenha()" class="fa fa-eye"></i></span>
                 </div>
                 <button type="submit" class="btn btn-info login" ng-click="acessar(user)">Acessar</button>
             </form>
         </div>
     </div>
 </div>