<img class="icone" src="icon/cwi.png" alt="">
<div class="contain">
    <div class="header">
        <div class="titulo" ng-click="irParaHome()">Gênesis</div>
    </div>
    <div class="barra">
        <uib-accordion close-others="true">
            <div uib-accordion-group class="panel" is-open="status.open">
                <uib-accordion-heading>
                    Feitos <i class="glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
                </uib-accordion-heading>
                <button type="button" class="btn btn-add" ng-click="mostrarAdicaoFeito()"><i class="fa fa-plus" aria-hidden="true"></i> Feito</button>
                <button type="button" class="btn btn-ver" ng-click="isCollapsed = !isCollapsed">Ver feitos</button>
                <hr>
                <div uib-collapse="isCollapsed">
                    <p>feito aqui</p>
                    <p>feito aqui</p>
                    <p>feito aqui</p>
                    <p>feito aqui</p>
                    <p>feito aqui</p>
                </div>
            </div>
            <div uib-accordion-group class="panel" is-open="status.open">
                <uib-accordion-heading>
                    Times <i class="glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
                </uib-accordion-heading>
                <button type="button">Adicionar time</button>
                <br>
                <button type="button" class="btn btn-default" ng-click="isCollapsed = !isCollapsed">ver times</button>
                <hr>
                <div uib-collapse="isCollapsed">
                    <p>time aqui <button type="">Editar time</button></p>
                    <p>time aqui <button type="">Editar time</button></p>
                    <p>time aqui <button type="">Editar time</button></p>
                    <p>time aqui <button type="">Editar time</button></p>
                </div>
            </div>
    </div>

    <div class="conteudo" ng-if="clicouFeito">
        <div class="form">
        <form class="form-group" novalidate name="formFeito" >
            <label for="nome">Nome do feito</label>
            <input type="text" name="nome" value="" ng-model="feito.nome" class="form-control">
            <label for="descricao">Descrição</label>
            <textarea rows="2" cols="10" class="form-control" ng-model="feito.descricao"></textarea>
            <label for="descricaoResumida">Descrição Resumida</label>
            <input type="text" name="descricaoResumida" value="" ng-model="feito.descricaoResumida" class="form-control" max="100">
            <label for="perfilPermitido">Perfil que pode vizualizar</label>
            <select ng-model="feito.idPermissao" name="perfilPermitido" class="form-control">
                <option ng-value="" disabled>Selecione o perfil</option>
                <option ng-value="1">Admin</option>
                <option ng-value="2">Colab</option>
                <option ng-value="2">Master</option>
            </select>
            <label for="relevancia">Relevância</label>
            <input type="number" name="relevancia" value="" ng-model="feito.relevancia" class="form-control" min="0" max="5">
            <label for="imagem">Url imagem</label>
            <input type="text" name="imagem" value="" ng-model="feito.imagem" class="form-control">
            <button type="button" class="btn btn-add" ng-click="criarFeito(feito)"><i class="fa fa-plus" aria-hidden="true"></i> Feito</button>
        </form>
        </div>
    </div>

    <div class="conteudo" ng-if="clicouTime">
        <div class="form">
            <form class="form-group" novalidate name="formTime" >
            <label for="nome">Nome do time</label>
            <input type="text" name="nome" value="" ng-model="time.nome" class="form-control">
            <label for="descricao">Descrição</label>
            <textarea rows="2" cols="10" class="form-control" ng-model="time.descricao"></textarea>
            <label for="descricaoResumida">Descrição Resumida</label>
            <input type="text" name="descricaoResumida" value="" ng-model="time.descricaoResumida" class="form-control" max="100">
            <label for="perfilPermitido">Perfil que pode vizualizar</label>
            <select ng-model="time.situacao" name="perfilPermitido" class="form-control">
                <option ng-value="" disabled>Selecione o perfil</option>
                <option ng-value="A">Ativo</option>
                <option ng-value="I">Inativo</option>
            </select>
            <label for="membros">Membros</label>
            <input type="text" name="membros" value="" ng-model="time.membros" class="form-control">
            <button type="button" class="btn btn-add" ng-click="criarFeito()"><i class="fa fa-plus" aria-hidden="true"></i> Feito</button>
        </form>
        </div>
    </div>
</div>