<img class="icone" src="icon/cwi.png" alt="">
<div class="contain">
    <div class="header">
        <div class="titulo" ng-click="irParaHome()">
            <p>Gênesis</p>
        </div>
        <div class="dropdown">
            <div class="btn-group" uib-dropdown is-open="status.isopen">
                <button id="single-button" type="button" class="btn btn-dropdown" uib-dropdown-toggle ng-disabled="disabled">
        <i class="fa fa-user" aria-hidden="true"></i> {{user.nome}} <span class="caret"></span>
      </button>
                <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="single-button">
                    <li role="menuitem"><a href="#!/home">Home</a></li>
                    <li role="menuitem"><a href="#!/perfil">Pefil</a></li>
                    <li role="menuitem"><a href="#!/admin">Administração</a></li>
                    <li class="divider"></li>
                    <li role="menuitem"><a href="#">Logout</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="barra">
        <uib-accordion close-others="true">
            <div uib-accordion-group class="panel" is-open="status.open">
                <uib-accordion-heading>
                    Feitos <i class="glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
                </uib-accordion-heading>
                <button type="button" class="btn btn-add" ng-click="mostrarAdicaoFeito()"><i class="fa fa-plus" aria-hidden="true"></i> Feito</button>
                <button type="button" class="btn btn-ver" ng-click="isCollapsed = !isCollapsed">Ver feitos</button>
                <hr>
                <div uib-collapse="isCollapsed">
                    <div class="feito" ng-repeat="feito in feitosExistentes">
                        <p class="nome"> <strong> {{feito.nome}}  </strong></p>
                        <i class="fa fa-pencil edit pull-right" aria-hidden="true" ng-click="clicouEditarFeito(feito)"></i>
                        <i class="fa fa-times delete pull-right" aria-hidden="true" ng-click="excluirFeito(feito)"></i>
                    </div>
                </div>
            </div>
            <div uib-accordion-group class="panel" is-open="status.open">
                <uib-accordion-heading>
                    Times <i class="glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
                </uib-accordion-heading>
                <button type="button" class="btn btn-add" ng-click="mostrarAdicaoTime()"><i class="fa fa-plus" aria-hidden="true"></i> Time</button>
                <button type="button" class="btn btn-ver" ng-click="isCollapsed = !isCollapsed">Ver times</button>
                <hr>
                <div uib-collapse="isCollapsed">
                    <div class="feito" ng-repeat="time in times">
                        <p class="nome"> <strong> {{time.nome}} - {{time.descricaoresumida}}  </strong></p>
                        <i class="fa fa-pencil edit pull-right" aria-hidden="true" ng-click="clicouEditarTime(time)"></i>
                        <i class="fa fa-times delete pull-right" aria-hidden="true" ng-click="excluirTime(time)"></i>
                    </div>
                </div>
            </div>
    </div>

    <div class="conteudo" ng-if="clicouFeito">
        <div class="form">
            <form class="form-group" novalidate name="formFeito">
                <label for="nome">Nome do feito</label>
                <input type="text" name="nome" value="" ng-model="feito.nome" required class="form-control">
                <label for="descricao">Descrição</label>
                <textarea rows="2" cols="10" class="form-control" required ng-model="feito.descricao"></textarea>
                <label for="descricaoResumida">Descrição Resumida</label>
                <input type="text" name="descricaoResumida" value="" ng-model="feito.descricaoresumida" class="form-control" max="100">
                <label for="perfilPermitido">Perfil que pode vizualizar</label>
                <select ng-model="feito.idPermissao" name="perfilPermitido" required class="form-control">
                <option ng-value="" disabled>Selecione o perfil</option>
                <option ng-value="1">Admin</option>
                <option ng-value="2">Colab</option>
                <option ng-value="2">Master</option>
            </select>
                <label for="relevancia">Relevância</label>
                <input type="number" name="relevancia" value="" required ng-model="feito.relevancia" class="form-control" min="0" max="5">
                <label for="imagem">Url imagem</label>
                <input type="text" name="imagem" value="" required ng-model="feito.imagem" class="form-control">
                <button type="button" class="btn btn-add" ng-click="criarFeito(feito)" ng-disabled="formFeito.$invalid"><i class="fa fa-plus" aria-hidden="true"></i> Feito</button>
            </form>
        </div>
    </div>

    <div class="conteudo-time" ng-if="clicouTime">
        <div class="form">
            <form class="form-group" novalidate name="formTime">
                <label for="nome">Nome do time</label>
                <input type="text" name="nome" value="" ng-model="time.nome" required class="form-control">
                <label for="descricao">Descrição</label>
                <textarea rows="2" cols="10" class="form-control" ng-model="time.descricao" required></textarea>
                <label for="descricaoResumida">Descrição Resumida</label>
                <input type="text" name="descricaoResumida" value="" ng-model="time.descricaoResumida" class="form-control" max="100">
                <label for="perfilPermitido">Pesquisar colaboradores</label>
                <!--<select ng-model="time.situacao" name="situacaoTime" class="form-control">
                <option ng-value="" disabled>Selecione a situação do time</option>
                <option ng-value="A">Ativo</option>
                <option ng-value="I">Inativo</option>
            </select>-->
                <label for="membros">Membros</label>
                <input type="text" name="membros" value="" ng-model="nomeColab" class="form-control">
                <button type="button" class="btn btn-add" ng-click="pesquisar(nomeColab)"><i class="fa fa-search" aria-hidden="true"></i> Pesquisar</button>

                <div class="opcao clearfix" ng-repeat="resultado in pesquisa">
                    <p>{{resultado.nomecompleto}}</p>
                    <button type="button" class="btn btn-add pull-right" ng-click="adicionarMembros(resultado)" ng-disabled="resultado.ehOwner"><i class="fa fa-plus" aria-hidden="true"></i> Membro</button>
                    <button type="button" class="btn btn-add pull-right" ng-click="adicionarOwner(resultado)" ng-disabled="resultado.ehMembro"><i class="fa fa-plus" aria-hidden="true"></i> Owner</button>
                </div>

                <br>
                <button type="button" class="btn btn-add" ng-click="criarTime(time)" ng-disabled="formTime.$invalid"><i class="fa fa-plus" aria-hidden="true"></i> Criar time</button>
            </form>
        </div>
    </div>
    <div class="conteudo" ng-if="editarFeito">
        <!--<i class="fa fa-times" aria-hidden="true" ng-click="fecharEditar()">-->
        <div class="form">
            <form class="form-group" novalidate name="formFeito">
                <label for="nome">Nome do feito</label>
                <input type="text" name="nome" value="" ng-model="feito.nome" required class="form-control">
                <label for="descricao">Descrição</label>
                <textarea rows="2" cols="10" class="form-control" ng-model="feito.descricao" required></textarea>
                <label for="descricaoResumida">Descrição Resumida</label>
                <input type="text" name="descricaoResumida" value="" ng-model="feito.descricaoresumida" required class="form-control" max="100">
                <label for="perfilPermitido">Perfil que pode vizualizar</label>
                <select ng-model="feito.idPermissao.id" name="perfilPermitido" class="form-control" required>
                <option ng-value="" disabled>Selecione o perfil</option>
                <option ng-value="1">Admin</option>
                <option ng-value="2">Colab</option>
                <option ng-value="3">Master</option>
            </select>
                <label for="relevancia">Relevância</label>
                <input type="number" name="relevancia" value="" ng-model="feito.relevancia" required class="form-control" min="0" max="5">
                <label for="imagem">Url imagem</label>
                <input type="text" name="imagem" value="" ng-model="feito.imagem" class="form-control">
                <button type="button" class="btn btn-add" ng-click="atualizarFeito(feito)" ng-disabled="formFeito.$invalid"><i class="fa fa-plus" aria-hidden="true"></i> Feito</button>
                
            </form>
        </div>
    </div>

    <div class="conteudo-time" ng-if="editarTime">
        <div class="form">
            <form class="form-group" novalidate name="formEditarTime">
                <label for="nome">Nome do time</label>
                <input type="text" name="nome" value="" ng-model="time.nome" required class="form-control">
                <label for="descricao">Descrição</label>
                <textarea rows="2" cols="10" class="form-control" ng-model="time.descricao" required></textarea>
                <label for="descricaoResumida">Descrição Resumida</label>
                <input type="text" name="descricaoResumida" value="" ng-model="time.descricaoResumida" class="form-control" max="100">
                <label for="perfilPermitido">Selecione a situação do time</label>
                <select ng-model="time.situacao" name="situacaoTime" class="form-control">
                <option ng-value="" disabled>Selecione a situação do time</option>
                <option ng-value="A">Ativo</option>
                <option ng-value="I">Inativo</option>
            </select>
                <label for="membros">Membros</label>
                <div class="membros clearfix">
                    <!--<div class="infos" ng-repeat="membro in membros">-->
                    <div class="infos pull-left" ng-repeat="membro in membrosTime">
                        <img src="https://avatars0.githubusercontent.com/u/9092081?v=3&s=460" alt="" height="50px" width="50px">
                        <p>{{membro.idColaborador.nomecompleto}}</p>
                        <p>
                            <button uib-popover="Tormar owner" popover-trigger="'mouseenter'" type="button" class="btn" ng-click="tornarOwner(membro)"><i class="fa fa-arrow-up" aria-hidden="true"></i></button>
                            <button uib-popover="Remover do grupo" popover-trigger="'mouseenter'" popover-class="popover-test" type="button" class="btn"><i class="fa fa-times" aria-hidden="true"></i></button>
                        </p>
                    </div>
                </div>
                <label for="owners">Owner</label>
                <div class="membros clearfix">
                    <!--<div class="infos" ng-repeat="membro in membros">-->
                    <div class="infos pull-left" ng-repeat="membro in ownersTime">
                        
                            <img src="https://avatars0.githubusercontent.com/u/9092081?v=3&s=460" alt="" height="50px" width="50px">
                            <p>{{membro.idColaborador.nomecompleto}}</p>
                            <p>
                                <button uib-popover="Tormar membro normal" popover-trigger="'mouseenter'" type="button" class="btn"><i class="fa fa-arrow-down" aria-hidden="true"></i></button>
                                <button uib-popover="Remover do grupo" popover-trigger="'mouseenter'" popover-class="popover-test" type="button" class="btn"><i class="fa fa-times" aria-hidden="true"></i></button>
                            </p>
                        
                    </div>
                </div>
                <button type="button" class="btn btn-add" ng-click="adicionarColaboradores()" data-toggle="collapse" data-target="#collapse-compartilhar"><i class="fa fa-plus" aria-hidden="true"></i> Adicionar mais colaboradores</button>
                <div id="collapse-compartilhar" class="collapse clearfix">
                    <label for="membros">Membros</label>
                    <input type="text" name="membros" value="" ng-model="nomeColab" class="form-control">
                    <button type="button" class="btn btn-add" ng-click="pesquisar(nomeColab)"><i class="fa fa-search" aria-hidden="true"></i> Pesquisar</button>
                    <div class="opcao clearfix" ng-repeat="resultado in pesquisa">
                        <p>{{resultado.nomecompleto}}</p>
                        <button type="button" class="btn btn-add pull-right" ng-click="adicionarMembros(resultado)" ng-disabled="resultado.ehOwner"><i class="fa fa-plus" aria-hidden="true"></i> Membro</button>
                        <button type="button" class="btn btn-add pull-right" ng-click="adicionarOwner(resultado)" ng-disabled="resultado.ehMembro"><i class="fa fa-plus" aria-hidden="true"></i> Owner</button>

                    </div>

                </div>
                <br>
                <button type="button" class="btn btn-add" ng-click="atualizarTime(time)"><i class="fa fa-check" aria-hidden="true"></i>Atualizar time</button>
            </form>
        </div>
    </div>
</div>