<div class="header">
    <div class="titulo" ng-click="irParaHome()">
        <p>Gênesis</p>
    </div>
    <div class="dropdown">
        <div class="btn-group" uib-dropdown is-open="status.isopen">
            <button id="single-button" type="button" class="btn btn-dropdown" uib-dropdown-toggle ng-disabled="disabled">
        <i class="fa fa-user" aria-hidden="true"></i>{{user.nomecompleto}} <span class="caret"></span>
      </button>
            <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="single-button">
                <li role="menuitem"><a href="#!/home">Home</a></li>
                <li role="menuitem"><a href="#!/perfil">Pefil</a></li>
                <li role="menuitem"><a href="#!/admin">Administração</a></li>
                <li class="divider"></li>
                <li role="menuitem"><a href="#">Logout</a></li>
            </ul>
        </div>
    </div>
</div>
<div class="contain">
    <div class="conteudo conteudo-overflow">
        <div class="form">
            <form class="form-group" novalidate name="formTime">
                <label for="nome">Nome do time</label>
                <input type="text" name="nome" value="" ng-model="time.nome" required class="form-control">
                <label for="descricao">Descrição</label>
                <textarea rows="2" cols="10" class="form-control" ng-model="time.descricao" required></textarea>
                <label for="descricaoResumida">Descrição Resumida</label>
                <input type="text" name="descricaoResumida" value="" ng-model="time.descricaoresumida" class="form-control" max="100">
                <label for="perfilPermitido">Pesquisar colaboradores</label>
                <label for="membros">Membros</label>
                <input type="text" name="membros" value="" ng-model="nomeColab" class="form-control">

                <label for="owners">Owner</label>
                <div class="membros clearfix">
                    <!--<div class="infos" ng-repeat="membro in membros">-->
                    <div class="membros-owner" ng-repeat="membroOwner in ownersTime">
                        <div class="membros-owner-imagem">
                            <img ng-src="{{membroOwner.idColaborador.foto}}" alt="" height="50px" width="50px">
                        </div>
                        <div class="membros-owner-nome">
                            <label>{{membroOwner.idColaborador.nomecompleto}}</label>
                        </div>

                        <div class="membros-owner-botoes">
                            <button uib-popover="Tormar membro normal" popover-trigger="'mouseenter'" type="button" class="btn" ng-click="tornarMembro(membroOwner)"><i class="fa fa-arrow-down" aria-hidden="true"></i></button>
                            <button uib-popover="Remover do grupo" popover-trigger="'mouseenter'" popover-class="popover-test" type="button" class="btn" ng-click="removerOwnerDoGrupo(membroOwner)"><i class="fa fa-times" aria-hidden="true"></i></button>
                        </div>
                    </div>
                </div>
                <hr>
                <!--membros-->

                <label for="membros">Membros</label>
                <div class="membros clearfix">
                    <!--<div class="infos" ng-repeat="membro in membros">-->
                    <div class="membros-owner" ng-repeat="membro in membrosTime">
                        <div class="membros-owner-imagem">
                            <img ng-src="{{membro.idColaborador.foto}}" alt="" height="50px" width="50px">
                        </div>
                        <div class="membros-owner-nome">
                            <label>{{membro.idColaborador.nomecompleto}}</label>
                        </div>
                        <div class="membros-owner-botoes">
                            <button uib-popover="Tormar owner" popover-trigger="'mouseenter'" type="button" class="btn" ng-click="tornarOwner(membro)"><i class="fa fa-arrow-up" aria-hidden="true"></i></button>
                            <button uib-popover="Remover do grupo" popover-trigger="'mouseenter'" popover-class="popover-test" type="button" class="btn" ng-click="removerMenbroDoGrupo(membro)"><i class="fa fa-times" aria-hidden="true"></i></button>
                        </div>
                    </div>
                </div>
                
                <button type="button" class="btn btn-add" ng-click="pesquisar(nomeColab)"><i class="fa fa-search" aria-hidden="true"></i> Pesquisar</button>
                <div class="opcao clearfix" ng-repeat="resultado in pesquisa">
                    <p>{{resultado.nomecompleto}}</p>
                    <button type="button" class="btn btn-add pull-right" ng-click="adicionarMembros(resultado)" ng-disabled="resultado.ehOwner"><i class="fa fa-plus" aria-hidden="true"></i> Membro</button>
                    <button type="button" class="btn btn-add pull-right" ng-click="adicionarOwner(resultado)" ng-disabled="resultado.ehMembro"><i class="fa fa-plus" aria-hidden="true"></i> Owner</button>
                </div>
                <br>
                <button type="button" class="btn btn-add" ng-click="criarTime(time)" ng-disabled="(formTime.$invalid || verificaOwner)"><i class="fa fa-plus" aria-hidden="true"></i> Criar time</button>
            </form>            
        </div>
    </div>
</div>