<div class="contain">
    <div class="header">
        <div class="titulo" ng-click="irParaHome()">
            <p>Gênesis</p>
        </div>
    </div>
        <div class="listagem perfil-time">
            <div class="list-feitos">
                <div class="mosaico">
                    <div ng-repeat="foto in time.fotosMembros track by $index" class="mosaico-item" style="background-image: url({{foto}})"></div>
                </div>
                <div class="list-feitos-info">
                    <p class="nome perfil"> {{time.time.nome}}</p>
        <button type="button" class="btn btn-solicitar" ng-click=solicitarTroca() ng-disabled="jaEstaNoTime">Solicitar entrada para o time</button>
                </div>
                <hr>
            </div>
            <div class="infos">
            <p>{{time.time.descricao}}</p>
            <p>{{time.time.descricaoresumida}}</p>
            <p>Situação: {{situacaoTela}}</p>
        <p class="titulo">Owners</p>
        <div class="owners row">
            <div class="infos pull-left row" ng-repeat="owner in ownersTime">
                <img ng-src="{{owner.idColaborador.foto}}" alt="" height="50px" width="50px">
                <p><a href="#!/perfil/{{owner.idColaborador.id}}">{{owner.idColaborador.nomecompleto}}</a></p>
            </div>
        </div>
        <p class="titulo">Membros</p>
        <div class="membros">
            <div class="infos pull-left" ng-repeat="membro in membrosTime">
                <img ng-src="{{membro.idColaborador.foto}}" alt="" height="50px" width="50px">
                <p><a href="#!/perfil/{{membro.idColaborador.id}}">{{membro.idColaborador.nomecompleto}}</a></p>
            </div>
        </div>
        </div>
    </div>
</div>