@import url('https://fonts.googleapis.com/css?family=Courgette|Dancing+Script|Satisfy');
@import url('https://fonts.googleapis.com/css?family=Montserrat');
* {
    box-sizing: border-box;
}

.borda {
    border: 2px solid red;
}

body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

.container {
    width: 100%;
    height: 100vh; // background: linear-gradient(45deg, #0077b5,#008891);
    background: linear-gradient(45deg, #FBBD50, #DD9445);
}

.container .conteudo {
    width: 50%;
    text-align: center;
    position: fixed;
    top: 15%;
    left: 50%;
    transform: translateX(-50%);
    color: white;
}

.container .conteudo h2 {
    font-size: 26px;
    color: rgba(255, 255, 255, 0.8);
}

.box {
    width: 100%;
    background: rgb(229, 231, 233);
    margin: 30px;
    padding: 40px;
    position: fixed;
    border-radius: 4px;
    .btn-info {
        background-color: #DD9445;
    }
    p {
        margin-top: 15px;
        color: black;
    }
    a {
        color: orangered;
        &:hover {
            color: black;
        }
    }
}

.box-label {
    width: 70%;
    text-align: left;
    margin-left: 15.3%;
}

.box form button {
    margin-top: 30px;
}

.box form label {
    color: black;
    margin-top: 10px;
    position: relative;
}

.input-group {
    width: 70%;
    left: 50%;
    transform: translateX(-50%);
    margin-bottom: 20px;
}

.box form .login {
    margin: 0;
}

.icone {
    position: fixed;
    right: 0;
    bottom: 0;
}

.contain {
    position: fixed;
    width: 100%;
    height: 100vh;
    a {
        margin-top: 5px;
        color: #Fbaf41;
    }
    .barra {
        position: fixed;
        width: 25%;
        height: 100vh;
        top: 120px;
        .panel>.panel-heading {
            background-color: gray;
            color: white;
            &:active {
                background-color: #FBAF41;
            }
        }
    }
    .form {
        width: 60%;
        margin: 50px auto;
        font-size: 18px;
    }
    .conteudo {
        position: fixed;
        width: 50%;
        background-color: rgba(255, 195, 0, 0.4);
        left: 27%;
        top: 103px;
        border-radius: 5px;
        height: 81%;
        .colab {
            overflow: auto;
        }
        &.vincular {
            height: 69%;
        }
    }
    .conteudo-overflow {
        overflow-y: auto;
    }
    .membros-owner {
        display: flex;
        justify-content: space-between;
    }
    .botao-adicionar-atualizar {
        width: 0px;
    }
    .btn-add {
        margin-top: 20px;
        margin-left: 37%;
    }
    .conteudo-colab {
        position: fixed;
        width: 50%;
        background-color: rgba(255, 195, 0, 0.4);
        left: 27%;
        top: 103px;
        border-radius: 5px;
        height: 81%;
        overflow: auto;
        .form {
            width: 77%;
            margin: 50px auto;
            font-size: 18px;
        }
    }
    .listagem {
        overflow: auto;
        position: fixed;
        top: 102px;
        left: 226px;
        right: 0;
        /* width: 50%; */
        height: 80%;
        color: black;
        .list-feitos {
            display: flex;
            font-size: 16px;
            width: 50%;
            margin: 0 auto;
            align-items: center;
            &-info {
                flex: 1;
                display: flex;
                flex-direction: column;
            }
            .nome {
                &.perfil {
                    font-size: 44px;
                }
                font-size: 22px
            }
            .btn-solicitar {
                width: 225px;
            }
            img {
                margin: 10px;
                border-radius: 50%;
            }
            .btn {
                margin: 1px;
            }
        }
        .infos {
            margin: 27px auto;
            width: 50%;
            p {
                font-size: 20px;
            }
            img {
                border-radius: 50%;
            }
        }
    }
}

.header {
    color: white;
    background-color: #FBAF41;
    padding: 7px;
    padding-left: 30px;
    .titulo {
        cursor: pointer;
        display: inline;
        p {
            display: inline;
            font-family: 'Dancing Script', cursive;
            font-size: 45px;
            text-align: center;
            font-weight: 900;
            text-align: left;
        }
    }
    .inline-form {
        position: fixed;
        top: 22px;
        right: 1%;
    }
    .dropdown {
        position: fixed;
        display: inline;
        top: 24px;
        right: 10px;
        .btn-dropdown {
            background-color: white;
            color: #fbaf41;
            li:hover {
                background-color: #fdd9a2;
            }
        }
    }
}

.btn-add {
    background-color: #58e21d;
    color: white;
    &:hover {
        background-color: #58e21d;
        opacity: 0.8;
        color: white;
    }
    &:active {
        background-color: #62C936;
        color: white;
    }
}

.pagina {
    overflow: auto;
    .dados {
        position: absolute;
    left: 1%;
    top: 129px;
    height: 108%;
    text-align: center;
    border-radius: 5px;
    padding: 1%;
    background-color: #e5e7e9;
    p {
        font-size: 18px;
        margin-top: 16px;
    }
    img {
        border-radius: 50%;
    }
    .tag {
        display: inline;
        padding: 5px;
        padding-left: 10px;
        padding-right: 10px;
        background-color: rgba(25, 25, 25, 0.4);
        margin: 2px;
        /* margin-top: 50px; */
        font-size: 15px;
        border-radius: 7px;
    }
    tags-input {
        max-width: 400px;
        .tags {
            border-radius: 6px;
        }
    }
}
    .board {
        position: relative;
        margin: 0 auto;
        width: 60%;
        .timeline-perfil{
            margin-left: 30%;
            .titulo-timeline {
            font-family: 'Dancing Script', cursive;
            color: #FBAF41;
            font-size: 53px;
            margin: 0 46%
        }
        .timeline ul li {
            list-style-type: none;
            position: relative;
            width: 6px;
            margin: 0 auto;
            padding-top: 50px;
            background: #FBAF41;
            font-family: 'Montserrat', sans-serif;
            &.home {
                width: 6px;
            }
            img {
                border-radius: 50%;
            }
            .titulo {
                display: inline;
                font-size: 19px;
                padding-left: 4%;
                vertical-align: middle;
            }
            .descricao {
                font-size: 15px;
                vertical-align: middle;
                margin: 1%;
            }
            .data {
                vertical-align: middle;
                margin: 1%;
            }
        }
        .timeline ul li::after {
            content: '';
            position: absolute;
            left: 50%;
            bottom: 0;
            transform: translateX(-50%);
            width: 30px;
            height: 30px;
            border-radius: 50%;
            background: inherit;
        }
        .timeline ul li div {
            position: relative;
            bottom: 0;
            width: 337px;
            height: 93px;
            padding: 15px;
            background: rgba(189, 195, 199, 0.5);
        }
        .timeline.home ul li div {
            position: relative;
            bottom: 0;
            width: 340px;
            height: 110px;
            padding: 15px;
            background: rgba(189, 195, 199, 0.5);
        }
        .timeline ul li div::before {
            content: '';
            position: absolute;
            bottom: 7px;
            width: 0;
            height: 0;
            border-style: solid;
        }
        .timeline ul li:nth-child(odd) div {
            left: 45px;
        }
        .timeline ul li:nth-child(odd) div::before {
            left: -15px;
            border-width: 8px 16px 8px 0;
            border-color: transparent rgba(189, 195, 199, 0.5) transparent transparent;
        }
        .timeline ul li:nth-child(even) div {
            left: -383px;
        }
        .timeline ul li:nth-child(even) div::before {
            right: -15px;
            border-width: 8px 0 8px 16px;
            border-color: transparent transparent transparent rgba(189, 195, 199, 0.5);
        }
        .timeline ul li::after {
            background: #FBAF41;
            transition: background .5s ease-in-out;
        }
        }
        .titulo-timeline {
            font-family: 'Dancing Script', cursive;
            color: #FBAF41;
            font-size: 53px;
            margin: 0 46%
        }
        .timeline ul li {
            list-style-type: none;
            position: relative;
            width: 6px;
            margin: 0 auto;
            padding-top: 50px;
            background: #FBAF41;
            font-family: 'Montserrat', sans-serif;
            &.home {
                width: 6px;
            }
            img {
                border-radius: 50%;
            }
            .titulo {
                display: inline;
                font-size: 19px;
                padding-left: 4%;
                vertical-align: middle;
            }
            .descricao {
                font-size: 15px;
                vertical-align: middle;
                margin: 1%;
            }
            .data {
                vertical-align: middle;
                margin: 1%;
            }
        }
        .timeline ul li::after {
            content: '';
            position: absolute;
            left: 50%;
            bottom: 0;
            transform: translateX(-50%);
            width: 30px;
            height: 30px;
            border-radius: 50%;
            background: inherit;
        }
        .timeline ul li div {
            position: relative;
            bottom: 0;
            width: 337px;
            height: 93px;
            padding: 15px;
            background: rgba(189, 195, 199, 0.5);
        }
        .timeline.home ul li div {
            position: relative;
            bottom: 0;
            width: 340px;
            height: 110px;
            padding: 15px;
            background: rgba(189, 195, 199, 0.5);
        }
        .timeline ul li div::before {
            content: '';
            position: absolute;
            bottom: 7px;
            width: 0;
            height: 0;
            border-style: solid;
        }
        .timeline ul li:nth-child(odd) div {
            left: 45px;
        }
        .timeline ul li:nth-child(odd) div::before {
            left: -15px;
            border-width: 8px 16px 8px 0;
            border-color: transparent rgba(189, 195, 199, 0.5) transparent transparent;
        }
        .timeline ul li:nth-child(even) div {
            left: -383px;
        }
        .timeline ul li:nth-child(even) div::before {
            right: -15px;
            border-width: 8px 0 8px 16px;
            border-color: transparent transparent transparent rgba(189, 195, 199, 1);
        }
        .timeline ul li::after {
            background: #FBAF41;
            transition: background .5s ease-in-out;
        }
    }
}

.dados {
    position: relative;
    left: 1%;
    top: 129px;
    height: 79%;
    text-align: center;
    border-radius: 5px;
    padding: 1%;
    background-color: rgba(229, 231, 233, 1);
    p {
        font-size: 18px;
        margin-top: 16px;
    }
    img {
        border-radius: 50%;
    }
    .tag {
        display: inline;
        padding: 5px;
        padding-left: 10px;
        padding-right: 10px;
        background-color: rgba(25, 25, 25, 0.4);
        margin: 2px;
        /* margin-top: 50px; */
        font-size: 15px;
        border-radius: 7px;
    }
    tags-input {
        max-width: 400px;
        .tags {
            border-radius: 6px;
        }
    }
}

.tela {
    width: 100%;
    height: 100vh;
    overflow: auto;
    .time {
        width: 50%;
        margin: 0 auto;
        overflow: auto;
    }
}

.menu {
    position: fixed;
    top: 78px;
    bottom: 0;
    left: 0;
    width: 226px;
    background-color: rgba(208, 211, 212, 0.3);
    .menu-items {
        list-style: none;
        padding: 0;
        padding-top: 30px;
        padding-left: 0;
    }
    .menu-item {
        .menu-link {
            color: gray;
            text-decoration: none;
            font-weight: 300;
            font-size: 14px;
            line-height: 50px;
            display: block;
            padding-left: 20px;
            display: inline;
            &:hover {
                background: rgba(0, 0, 0, 0.1);
            }
            .active {
                border-right: 4px solid #ffae00;
                background: rgba(0, 0, 0, 0.1);
            }
        }
    }
}

.mosaico {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    margin: 10px;
    .mosaico-item {
        min-width: 50%;
        min-height: 50%;
        flex: 1;
        background-size: cover;
        background-position: top;
        background-repeat: no-repeat;
    }
}

.home {
    // overflow: auto;
    height: 80vh;
    form {
        width: 80%;
        margin: 0 auto;
    }
}

.nome {
    font-size: 28px;
}

.notificacao {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    text-align: center;
    background-color: #fbaf41;
    vertical-align: middle;
    margin-top: 15px;
    margin-right: 15px;
}

.pendentes {
    height: 100%;
    float: left;
}

.solicitacoes {
    background-color: #fff;
    padding: 10px;
    margin-bottom: 10px;
}

.solicitacao {
    margin-top: 5px;
    border-top: 1px solid #e6ecf0;
    padding: 5px;
}

.user-pic-solic {
    object-fit: cover;
    border-radius: 50%;
    height: 52px;
    width: 52px;
    float: left;
    margin-right: 7px;
}

.add,
.rejeitar {
    padding: 4px 12px;
    border-radius: 100px;
    border: 1px solid;
    margin-top: 5px;
}

.add {
    color: lightgreen;
    border-color: lightgreen;
}

.add:hover {
    background-color: lightgreen;
    color: white;
    cursor: pointer;
}

.rejeitar {
    color: #a94465;
    border-color: #a94465;
}

.rejeitar:hover {
    background-color: #a94465;
    color: white;
    cursor: pointer;
}

section .extended {
    margin-top: 10%;
    text-align: center;
    font-size: 20px;
    width: 100%;
}

.motivo {
    margin: 4px;
}

.btn-motivo {
    margin: 0 33%;
}

.trocaSenha{
    background-color: lightgrey;
    position: fixed;
    padding: 4%;
    border-radius: 6px;
    width: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
    .btn-danger{
        margin: 0 auto;
    }
}