@import url('https://fonts.googleapis.com/css?family=Courgette|Dancing+Script|Satisfy');
* {
    box-sizing: border-box;
}

.borda {
    border: 2px solid red;
}

body {
    margin: 0;
}

.container {
    background-color: pink;
    width: 100%;
    height: 100vh; // background: linear-gradient(45deg, #0077b5,#008891);
    background: linear-gradient(45deg, #FBBD50, #DD9445);
}

.container .conteudo {
    width: 50%;
    text-align: center;
    position: fixed;
    top: 15%;
    left: 50%;
    transform: translateX(-50%);
    color: white;
}

.container .conteudo h2 {
    font-size: 26px;
    color: rgba(255, 255, 255, 0.8);
}

.box {
    width: 100%;
    background: rgb(229, 231, 233);
    margin: 30px;
    padding: 40px;
    position: fixed;
    border-radius: 4px;
    .btn-info {
        background-color: #DD9445;
    }
    p {
        margin-top: 15px;
        color: black;
    }
    a {
        color: orangered;
        &:hover {
            color: black;
        }
    }
}

.box-label {
    width: 70%;
    text-align: left;
    margin-left: 15.3%;
}

.box form button {
    margin-top: 30px;
}

.box form label {
    color: black;
    margin-top: 10px;
    position: relative;
}

.input-group {
    width: 70%;
    left: 50%;
    transform: translateX(-50%);
    margin-bottom: 20px;
}

.box form .login {
    margin: 0;
}

.icone {
    position: fixed;
    right: 0;
    bottom: 0;
}

.contain {
    background-color: white;
    position: fixed;
    width: 100%;
    height: 100vh;
    .barra {
        position: fixed;
        width: 25%;
        height: 100vh;
        top: 120px;
        .panel>.panel-heading {
            background-color: gray;
            color: white;
            &:active {
                background-color: #FBAF41;
            }
        }
    }
    .conteudo {
        position: fixed;
        width: 50%;
        background-color: rgba(234, 232, 229, 0.5);
        left: 27%;
        top: 120px;
        border-radius: 5px;
        height: 75%;
        .form{
            width: 60%;
            margin: 50px auto;
            .btn-add{
                margin-top: 20px;
                margin-left: 37%;
            }
        }
    }
}

.header {
    font-size: 45px;
    text-align: center;
    font-weight: 900;
    color: white;
    background-color: #FBAF41;
    padding: 7px;
    padding-left: 30px;
    text-align: left;
    font-family: 'Dancing Script', cursive;
    .titulo {
        cursor: pointer;
    }
}

.btn-add {
    background-color: #58e21d;
    color: white;
    &:hover {
        background-color: #58e21d;
        opacity: 0.8;
        color: white;
    }
    &:active {
        background-color: #62C936;
        color: white;
    }
}

.btn-ver {
    background-color: #1dbbe2;
    color: white;
    &:hover {
        background-color: #1dbbe2;
        opacity: 0.8;
        color: white;
    }
    &:active {
        background-color: #1D58E2;
        color: white;
    }
}