<div class="contain"> 
    <div class="header"> 
        <div class="titulo" ng-click="irParaHome()"> 
            <p>Gênesis</p> 
        </div> 
    </div> 
    <nav class="menu"> 
        <ul class="menu-items"> 
            <li class="menu-item" ng-click="irParaHome()">
                <p class="menu-link"> Home </p>
            </li>
        </ul> 
    </nav> 
    <div class="listagem"> 
        <div class="list-feitos" ng-repeat="colaborador in pesquisa | orderBy:'nomecompleto'"  class="row" ng-if="pesquisarColaboradores"> 
            <img ng-src="{{colaborador.foto}}" alt="" height="80px" class=""> 
            <div class="list-feitos-info"> 
                <a href="#!/perfil/{{colaborador.id}}"><p class="nome"> {{colaborador.nomecompleto}}</p></a> 
                <p>{{colaborador.email}}</p> 
            </div> 
        </div> 
    <div class="list-feitos" ng-repeat="time in pesquisa | orderBy: 'time.nome'" ng-if="pesquisarTimes"> 
        <div class="mosaico"> 
            <div ng-repeat="foto in time.fotosMembros track by $index" class="mosaico-item" style="background-image: url({{foto}})"></div> 
        </div> 
        <div class="list-feitos-info"> 
             <a href="#!time/visualizar/{{time.time.id}}"><p class="nome"> {{time.time.nome}} </p> </a> 
             <p>{{time.time.descricaoresumida}}</p> 
         </div>
    </div> 
    <div class="list-feitos" ng-repeat="colabTag in pesquisa | orderBy : 'descricao'" ng-if="pesquisarTags"> 
        <img ng-src="{{colabTag.idColaborador.foto}}" alt="" height="80px" class=""> 
        <div class="list-feitos-info"> 
             <a href="#!/perfil/{{colabTag.idColaborador.id}}"><p class="nome"> {{colabTag.idColaborador.nomecompleto}}</p></a> 
             <p>{{colabTag.idColaborador.email}}</p> 
             <p>{{colabTag.descricao}}</p> 
         </div>
    </div> 
</div>
</div>