<div class="header">
        <div class="titulo" ng-click="irParaHome()">
            <p>Gênesis</p>
        </div>
    </div>
    <div class="dados">
        <img ng-src="{{colaborador.foto}}" alt="" height="150px">
        
        <p>{{colaborador.nomecompleto}}</p>
        <p>{{colaborador.email}}</p>
        
        <p ng-if="permissaoAdministrador || (permissaoColaborador && vendoProprioPerfil)">{{colaborador.nascimento | date: 'dd/MM/yyyy'}}</p>
        <p ng-if="permissaoAdministrador || (permissaoColaborador && vendoProprioPerfil)">Colaborador desde {{colaborador.admissao | date: 'dd/MM/yyyy'}} </p>
        <p ng-if="permissaoAdministrador && colaborador.demissao!==null">Demissão em {{ colaborador.demissao | date: 'dd/MM/yyyy'}}> </p>

        <p>Trabalha em {{sedeTela}} </p>
        <p>Ramal: {{ramalTela}} </p>
        <p>Andar: {{andarTela}} </p>
        <p>Posição: {{posicaoTela}} </p>
        <p>Descrição: {{descricaoTela}} </p>
        <p>Resumo: {{descricaoResumidaTela}} </p>

        <p ng-if="permissaoMaster || permissaoAdministrador">Perfil: {{colaborador.idPermissao.descricao}} </p>
        <p ng-if="permissaoAdministrador">Situação: {{situacaoTela}} </p>

        <tags-input ng-model="tags" add-on-paste="true" class="bootstrap" on-tag-added="console($tag)" on-tag-removing="validarRemocao($tag)">
         </tags-input>
        <p>Model: {{tags}}</p>

    </div>
    <div class="board">
        <p class="titulo-timeline">Feitos</p>
          <section class="timeline">
        <ul>
            <li ng-repeat="feito in feitos">
                <div >
                    <img ng-src="{{feito.idFeito.imagem}}" alt=""  height="30px">
                    <p class="titulo"> <strong>{{feito.idFeito.nome}}</strong></p> 
                    <p class="descricao">{{feito.idFeito.descricaoresumida}}</p>
                    <p class="data pull-right">{{feito.datafeito | date:'dd/MM/yyyy'}}</p>
                </div>
            </li>
            <!-- more list items here -->
        </ul>
    </section>
    </div>
