<div class="container">
    <div class="conteudo">
        <h1>A maneira mais fácil de saber o que acontece na CWI Software é se manter atualizado com o Gênesis</h1>
        <h2>Para começar, digite seu email da CWI para se cadastrar</h2>
        <div class="box">
            <form novalidate name="formSolicitarAcesso">
                <div class="box-label"><label>Email</label></div>
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-envelope-o fa-fw"></i></span>
                    <input name="email" class="form-control" type="email" placeholder="Ex.: nome@cwi.com.br" ng-model="user.email">
                </div>
                    <button type="reset" class="btn btn-info" ng-click="solicitarAcesso(user)" ng-disabled="estadoBotao">Solicitar entrada</button>
            </form>
        </div>
    </div>
</div>